<!DOCTYPE html>
    <html lang="en">

<head>
          <meta charset="UTF-8">
<title>Budget Tracker</title>

<!-- bower:css -->
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<!-- endbower -->

<!-- inject:css -->
     <link rel="stylesheet" href="/app/styles/style.css">
<!-- endinject -->
</head>

<body>
  <div class="container">
        <div class ="well" id= "heading">
                <center><h1> Budget Tracker </h1></center>
       </div>

    <div class="row">
          <div class = "col-md-6">
              <div class = "well" id="firstset">
                <h5> Income Entries </h5>
        </div>   
                          <input ng-model="Given" id="description" class="form-control" placeholder="Given"> 
                                <input ng-model="AddIncome" input type="text" id="description" class="form-control" placeholder="Amount">
                         <button ng-click= "add ()" button type="Change" class="btn btn-primary col-md-12"> +Add Income</button>
              <table class="table">
                <tr>
                    <th> description </th>
                    <th style="text-align: right"> amount </th>
                </tr>

                      <tr ng-repeat="name in income">
                        <td>{{name.entered}}</td>
                        <td>{{name.amt1}}</td>
                      </tr>
              </table>          
      </div> 
             <div class = "col-md-6">
              <div class = "well" id="firstset">
                <h5> Expense entry </h5>
              </div>    
                    <input type="text" ng-model ="secondBox"  id="description" class="form-control" placeholder="Given"> 
                    <input type="text" id="description" ng-model ="input2" class="form-control" placeholder="Amount">
                    <button type="Change" ng-click = "box2()" class="btn btn-primary col-md-12"> +Add expense</button>
              <table class="table">
                <tr>
                    <th> description </th>
                    <th style="text-align: right"> amount </th>
                </tr>
                             <tr ng-repeat = "expense in expense track by $index">
                        <td>{{expense.secondEntry}}</td>
                        <td>{{expense.amount2}}</td>
                      </tr>
              </table>                
    </div>
</div>  

    <div align="center" class="container-fluid">
            <div class="panel panel-info">
                <div class="panel-heading">Summary</div>
                <div class="panel-body">
                    <label class="col-md-4 col-md-offset-4">Total Income</label>
                    <p class="col-md-4 col-md-offset-4">{{output}}</p>
                    <label class="col-md-4 col-md-offset-4">Total Expense</label>
                    <p class="col-md-4 col-md-offset-4">{{output2}}</p>
                    <label class="col-md-6 col-md-offset-3">Left After Spending</label>
                    <p class="col-md-6 col-md-offset-3">{{total}}</p>
                </div>
            </div>
        </div>

          


  


<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->

<!-- inject:js -->
<script src="/app/app.js"></script>
<!-- endinject -->
</body>
</html>